{% extends 'base.html' %}
{% load static i18n crispy_forms_tags %}

{% block title %} {% trans "دليل التطوير قيد الدراسة" %} {% endblock %}

{% block content %}


<div class="mt-4 pt-4">
    <h1 class="{% if LANGUAGE_CODE == 'ar' %} br_right {% else %} br_left {% endif %}">
        {% trans "دليل التطوير قيد الدراسة" %} </h1>


    <div class="d-flex mt-4">

        {% if request.user.is_authenticated and request.user.is_staff %}
        <a href="{% url 'orgs_add_devs' %}"
            class="btn btn-block mt-4 {% if LANGUAGE_CODE == 'ar' %} ml-2 {% else %} mr-2 {% endif %}"
            title="{% trans 'اضافة دليل التطوير' %}"><i class="fas fa-plus"></i></a>
        {% endif %}

        {% if devs and request.user.is_superuser %}
        <a class="btn btn-block mt-4 mx-2" data-toggle="collapse" href="#collapseFiltre" aria-expanded="false"
            aria-controls="collapseFiltre" title="{% trans 'فرز' %}"><i class="fas fa-filter"></i></a>
        {% endif %}


    </div>

    <!-- FILTERS -->
    <div class="pt-3 px-4 pb-2 mt-4 collapse" id="collapseFiltre">

        <form action="" method="get"
            class="row register justify-content-center align-items-center flex-wrap form my-2 my-lg-0">
            <div class="col-sm-12 col-md-6  mt-3">
                {{ myFilter.form.title_dev|as_crispy_field }}
            </div>
            <div class="col-sm-12 col-md-6 mt-3">
                {{ myFilter.form.subject|as_crispy_field }}
            </div>
            <div class="row p-0">
                <div class="col-xs-6 col-sm-6 col-md-6 mt-3">
                    {{ myFilter.form.start_date_pub|as_crispy_field }}
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 mt-3">
                    {{ myFilter.form.end_date_pub|as_crispy_field }}
                </div>

            </div>

            <div class="form-group mt-3">
                <button class="btn btn-block mt-3">{% trans 'بحث' %}</button>
            </div>
        </form>
    </div>



    <div class="row row-m-0 {% if LANGUAGE_CODE == 'ar' %} row-gutter-0 {% else %} row-gutter-3 {% endif %} pt-4 pb-4
        mb-4">

        <div class="row row-m-0 justify-content-start pt-4 pb-4 mb-4">
            {% if devs %}
            {% for dev in devs %}

            <div class="span3 well jobs-cards" data-aos="fade-in">
                <span class="text-muted">{{ dev.created_at|timesince }}</span>
                <center>

                    <h3 class="mt-4">
                        {% if dev.org_name %}
                        {{dev.org_name}}
                        {% else %}
                        {{ dev.name_dev }}
                        {% endif %}
                    </h3>

                    <p>{{ dev.title_dev }}</p>

                    <p>{{ dev.get_subject_display }}</p>

                    <p>{{ dev.dev_description|truncatechars:80 }}</p>
                    <p>
                        <a href="{% url 'devs_detail' dev.id %}" class="btn btn-block"
                            title="{% trans 'لقراءة المزيد' %}"><i class="fas fa-book-reader"></i></a>
                    </p>

                </center>
            </div>

            {% endfor %}


            <div class="pagination row border-top mt-4 pt-4" dir="ltr">
                <center>
                    {% if devs.paginator.num_pages > 1 %}
                    {% if devs.has_previous %}

                    <a href="?page=1" class="btn">
                        <i class="fa fa-angle-double-left"></i>
                    </a>
                    <a href="?page={{ devs.previous_page_number }}" class="btn">
                        <i class="fa fa-angle-left"></i>
                    </a>

                    {% endif %}

                    {% for num in devs.paginator.page_range %}
                    {% if devs.number == num %}
                    <a href="?page={{ num }}" class="btn btn-current">{{ num }}</a>
                    {% elif num > devs.number|add:'-3' and num < devs.number|add:'3' %}
                    <a href="?page={{ num }}" class="btn">{{ num }}</a>
                    {% endif %}
                    {% endfor %}


                    {% if devs.has_next %}
                    <a href="?page={{ devs.next_page_number }}" class="btn"><i class="fa fa-angle-right"></i></a>
                    <a href="?page={{ devs.paginator.num_pages }}" class="btn"><i
                            class="fa fa-angle-double-right"></i></a>

                    {% endif %}
                    {% endif %}

                </center>
            </div>


            {% else %}
            <h3 class="{% if LANGUAGE_CODE == 'ar' %} br_right {% else %} br_left {% endif %}">
                {% trans "لا يوجد حالياً دليل تطوير منشور من قبل المنظمات قيد الدراسة" %} </h3>
            {% endif %}


        </div>
    </div>






</div>

{% endblock %}