{% extends 'base.html' %}
{% load static i18n crispy_forms_tags %}

{% block title %} {% trans "تعديل دليل التطوير" %} {% endblock %}

{% block content %}


<div class="row mt-4 pt-4 mb-4">
    <h1 class="{% if LANGUAGE_CODE == 'ar' %} br_right {% else %} br_left {% endif %}"> {% trans "تعديل دليل التطوير" %}
    </h1>

    {% if request.user.is_authenticated %}
    {% if request.user == devs.user or request.user.is_staff %}

    <form action="" method="post" id="dev_form" class="register" enctype="multipart/form-data">
        {% csrf_token %}

        {% if request.user.is_authenticated and request.user.is_staff %}
        <div class="for-group">
            {{ form.org_name|as_crispy_field }}
            {{ form.name_dev|as_crispy_field }}
        </div>
        {% endif %}
        <div class="for-group">
            {{ form.title_dev|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.dev_date|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.dev_description|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.name_dev|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.subject|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.content|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.video|as_crispy_field }}
        </div>


        <div class="form-group">
            <input type="submit" class="btn btn-block mt-3" value='{% trans "تعديل دليل التطوير" %}'>
        </div>


    </form>
    {% endif %}
    {% endif %}


</div>

{% endblock %}