{% extends 'base.html' %}
{% load i18n %}

{% block title %} {% trans "خطأ 404 , صفحة غير متاحة" %} {% endblock %}
{% block content %}
<!-- Erreur 404, Page introuvable -->

<div class="container jumbotron mt-5 pt-5">
    <!-- Page introuvable -->
    <h1 class="display-4 mt-5 {% if LANGUAGE_CODE == 'ar' %} br_right {% else %} br_left {% endif %}">
        {% trans "صفحة غير متاحة" %} </h1>
    <!-- Cette page manque ou n’existe pas -->
    <p class="lead"> {% trans "هذه الصفحة مفقودة أو غير متوفره أساساً" %} </p>
    <!-- This page missing or not exists -->
    <!-- Revenir à la page d'accueil -->
    <a href="{% url 'home' %}" class="btn ">{% trans "العودة إلى الصفحة الرئيسية" %}</a>
</div>


{% endblock %}