{% extends 'base.html' %}
{% load static i18n crispy_forms_tags %}

{% block title %} {% trans "تعديل فرصة عمل" %} {% endblock %}

{% block content %}


<div class="row mt-4 pt-4 mb-4">
    <h1 class="{% if LANGUAGE_CODE == 'ar' %} br_right {% else %} br_left {% endif %}"> {% trans "تعديل فرصة عمل" %}
    </h1>

    {% if request.user.is_authenticated %}
    {% if request.user == job.user or request.user.is_staff %}

    <form action="" method="post" id="add_job" class="register" data-cities-url="{% url 'ajax_load_cities' %}"
        enctype="multipart/form-data">
        {% csrf_token %}

        {% if request.user.is_authenticated and request.user.is_staff %}
        <div class="for-group">
            {{ form.org_name|as_crispy_field }}
        </div>
        <!-- OTHER ORGS NAME CHOICES -->
        <div class="for-group {% if other == 0 %} list-org-{{ other }} {% endif %}">
            {{ form.other_org_name|as_crispy_field }}
        </div>
        <!-- OTHER ORGS NAME FORM -->
        <div class="for-group">
            {{ form_other.name|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form_other.logo|as_crispy_field }}
        </div>
        {% endif %}


        <div class="for-group">
            {{ form.job_title|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.job_description|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.period_months|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.job_type|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.experience|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.position_work|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.city_work|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.job_area|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.job_domain|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.job_aplay|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.dead_date|as_crispy_field }}
        </div>


        <div class="form-group">
            <input type="submit" class="btn btn-block mt-3" value='{% trans "تعديل فرصة عمل" %}'>
        </div>


    </form>
    {% endif %}
    {% endif %}


</div>

{% endblock %}