{% extends "base.html" %}
{% load i18n %}

<!-- Réinitialisation du mot de passe effectuée -->
{% block title %} {% trans "يتم إعادة تعيين كلمة المرور" %} {% endblock %}

{% block content %}
<div class="container">

    <!-- ALERT FOR SUCCESS -->
    <div class="alert alert-success">
        <p class="text-center">
            <!-- Un courriel a été envoyé avec des instructions pour réinitialiser votre mot de passe. -->
            {% trans "لقد تم إرسال بريد الكتروني يتضمن رابط ﻹعادة تعيين كلمة المرور" %}</p>
    </div>

    <div class="pt-3">
        <h3 class="text-center">
            <small class="text-muted">
                <!-- Vous pouvez aller à la -->
                {% trans "يمكنك الذهاب إلى" %}
            </small>
        </h3>
        <p class="text-center">
            <!-- page d’accueil -->
            <a class="btn btn-block mt-4" href="{% url 'home' %}">{% trans "الصفحة الرئيسية" %}</a>
        </p>
    </div>

</div>
{% endblock %}