{% extends "base.html" %}
{% load i18n %}


{% block title %} {% trans "لقد تم تغيير كلمة المرور بنجاح" %} {% endblock %}

{% block content %}
<div class="container">

    <!-- ALERT FOR SUCCESS -->
    <div class="alert alert-success">
        <p class="{% if LANGUAGE_CODE == 'ar' %} br_right {% else %} br_left {% endif %}">
            {% trans "لقد تم تغيير كلمة المرور بنجاح" %}</p>
    </div>

    <div class=" pt-3">
        <h3 class="text-center">
            <small class="text-muted">
                <!-- Vous pouvez vous connecter avec votre mot de passe actuel -->
                {% trans "يمكنك اﻵن تسجيل الدخول باستخدام كلمة المرور الجديدة" %}
            </small>
        </h3>
        <p class="text-center">
            <a class="btn btn-block mt-4" href="{% url 'signe_in' %}">{% trans "تسجيل الدخول" %}</a>
        </p>

    </div>

</div>
{% endblock %}