{% extends "base.html" %}
{% load i18n %}

<!-- Votre mot de passe à été Réinitialiser avec succès -->
{% block title %} {% trans "لقد تم إعادة تعيين كلمة المرور بنجاح" %} {% endblock %}


{% block content %}
<div class="container pt-5">

    <!-- ALERT FOR SUCCESS -->
    <div class="alert alert-success">
        <h1 class="{% if LANGUAGE_CODE == 'ar' %} br_right {% else %} br_left {% endif %}">
            {% trans "لقد تم إعادة تعيين كلمة المرور بنجاح" %}</h1>
    </div>

    <div class="pt-5">
        <h3 class="text-center">
            <small class="text-muted">



            </small>
            <p class="text-center">
                <!-- Vous pouvez vous -->
                {% trans "يمكنك ﻵن" %}
                <!-- Connecter -->
                <a class="btn btn-block mt-3 p-3" href="{% url 'signe_in' %}">{% trans "تسحيل الدخول" %}</a>
            </p>

            <p class="text-center">
                {% trans 'أو' %}
            </p>

            <p class="text-center">
                <!-- Vous pouvez aller à la -->
                {% trans "الذهاب للصفحة الرئيسية" %}
                <a class="btn btn-block mt-3 p-3" href="{% url 'home' %}">{% trans "الصفحة الرئيسية" %}</a>
            </p>
        </h3>
    </div>

</div>
{% endblock %}