{% extends "base.html" %}
{% load i18n crispy_forms_tags %}


{% block title %} {% trans "تغيير كلمة المرور" %} {% endblock %}

{% block content %}

<div class="register">
    <h1 class="{% if LANGUAGE_CODE == 'ar' %} br_right {% else %} br_left {% endif %}">{% trans "تغيير كلمة المرور" %}
    </h1>

    <hr>
    <div class="content-section">
        <form method="POST" action="" class="form-group">
            {% csrf_token %}
            <fieldset class="form-group">
                <!-- <legend class="border-bottom mb-4">
                    Change Your Password hear
                </legend> -->
                {{ form|crispy  }}
                <div class="form-group">
                    <input type="submit" class="btn btn-block mt-4" value="{% trans 'تغيير' %}">
                </div>

            </fieldset>
        </form>

    </div>


</div>

{% endblock %}