{% extends "base.html" %}
{% load i18n crispy_forms_tags %}



{% block title %} {% trans "إعادة تعيين كلمة المرور" %} {% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
<h3 class="text-center mt-5 pt-5">
    {% trans 'لا يمكنك إعادة تعيين كلمة المرور بحال تسجيل الدخول' %}

</h3>
<div class="row">
    <div class="col-6">
        <p class="mt-4 pt-4">
            <a href="{% url 'home' %}" class="btn btn-block p-4"> {% trans 'الذهاب للصفحة الرئيسية' %} </a>
        </p>
    </div>
    <div class="col-6">
        <p class="mt-4 pt-4">
            <a href="{% url 'password_change' %}" class="btn btn-block p-4"> {% trans 'تغيير كلمة السر' %} </a>
        </p>
    </div>
</div>



{% else %}

<div class="register">
    <!-- Réinitialiser mot de passe -->
    <h1 class="text-white {% if LANGUAGE_CODE == 'ar' %} br_right {% else %} br_left {% endif %}">
        {% trans "إعادة تعيين كلمة المرور" %}</h1>

    <div class="content-section">
        <form method="POST" action="" class="form-group">
            {% csrf_token %}
            <fieldset class="form-group">
                <!-- <legend class="border-bottom mb-4">
                    Reset Your Password hear
                </legend> -->
                {{ form|crispy  }}
                <div class="form-group">
                    <!-- réinitialiser -->
                    <input type="submit" class="btn btn-block" value="{% trans 'إعادة تعيين' %}">
                </div>

            </fieldset>
        </form>

    </div>

    <!-- 
    <form method="POST" action="" class="form-group">
        
        {{ form|crispy }}
        <input type="submit" class="btn" value="Register">

    </form> -->
</div>

{% endif %}

{% endblock %}