{% extends 'base.html' %}
{% load static i18n crispy_forms_tags %}
{% block title %} {% trans 'تفاصيل البحث الخارجي' %} {% endblock %}

{% block content %}


<div class="row mt-4 pt-4">
  <h1 class="{% if LANGUAGE_CODE == 'ar' %} br_right {% else %} br_left {% endif %}"> {% trans 'تفاصيل البحث الخارجي' %}
  </h1>

  <div class="well col-lg-9 job-card col-xs-12 position-relative">

    <!-- MINI MANU -->
    {% if request.user.is_authenticated %}
    <span id="span-menu" type="button"
      class="span-menu {% if LANGUAGE_CODE == 'ar' %} float-right {% else %} float-left {% endif %}"><i
        class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
    {% endif %}

    <div id="mini-menu"
      class="list-group mini-menu d-none {% if LANGUAGE_CODE == 'ar' %} menu-right {% else %} menu-left {% endif %}">
      {% if request.user.is_authenticated and request.user.is_superuser %}
      {% if research.publish == False %}
      <form action="" class="confirm" method="post">
        {% csrf_token %} {{ form.publish }}
        <div class="form-group">
          <button type="submit" id="org_confirm_btn" class="list-group-item list-group-item-action"
            title="{% trans 'الموافقة على النشر' %}">{% trans 'الموافقة على النشر' %} <i
              class="fas fa-check mx-1"></i></button>
        </div>
      </form>
      {% elif research.publish == True %}
      <form action="" class="deconfirm" method="post">
        {% csrf_token %} {{ form.publish }}
        <div class="form-group">
          <button type="submit" id="org_deconfirm_btn" class="list-group-item list-group-item-action"
            title="{% trans 'إلغاء نشر البحث الخارجي' %}">{% trans 'إلغاء نشر البحث الخارجي' %} <i
              class="fa fa-ban mx-1" aria-hidden="true"></i></button>
        </div>
      </form>
      {% endif %}
      {% endif %}


      {% if request.user.is_superuser %}
      <a href="{% url 'edit_research' research.id %}" class="list-group-item list-group-item-action"
        title="{% trans 'تعديل البحث' %}">{% trans 'تعديل البحث' %} <i class="fas fa-edit mx-1"></i></a>
      <a href="{% url 'delete_research' research.id %}" class="list-group-item list-group-item-action"
        title="{% trans 'حذف' %}">{% trans 'حذف' %} <i class="far fa-trash-alt mx-1"></i></a>

      {% elif request.user == research.user and research.publish == False %}
      <a href="{% url 'edit_research' research.id %}" class="list-group-item list-group-item-action"
        title="{% trans 'تعديل البحث' %}">{% trans 'تعديل البحث' %} <i class="fas fa-edit mx-1"></i></a>
      {% endif %}

    </div>

    <!-- START CART -->

    <strong>
      {# {% trans "عنوان البحث" %} : #}
      <h1 class="text-center mt-3"> {{ research.title }}</h1>
    </strong>

    <hr>

    <p class="text-muted row">
      <span class="col-3">
        <i class="far fa-clock ml-2 mr-2"></i>
        {% trans "  تاريخ الإضافة " %}
      </span>
      <span class="col-9">
        {% if research.created_at %}
        : {{ research.created_at|date:"Y-m-d" }}
        {% else %}
        : {% trans 'لم يذكر'%}
        {% endif %}
      </span>
    </p>

    <h3 class="mt-2 row">
      <span class="col-3">
        {% trans "اسم الجهة" %}
      </span>
      <span class="col-9">
        : {{ research.name_entity }}
      </span>
    </h3>


    {% if request.user.is_authenticated and request.user.is_superuser %}
    <p class="text-muted mt-4 row">
      <span class="col-3">
        {% trans "اسم اللذي أضاف البحث" %}
      </span>
      <span class="col-9">
        : {{ research.user }}
      </span>
    </p>
    {% endif %}




    <p class="mt-3 row">
      <span class="col-3">
        {% trans "مجال البحث" %}
      </span>
      <span class="col-9">
        :{{ research.get_domaine_display }}
      </span>
    </p>

    {% if research.url %}
    <p class="mt-3 row">
      <span class="col-3">
        {% trans "رابط البحث" %}
      </span>
      <span class="col-9">
        <a href="{{ research.url }}" class="text-dark text-decoration-none" target="_blank">:
          {{ research.url }}</a>
      </span>
    </p>
    {% endif %}


    {% if research.media %}
    <p class="row">
      <span class="col-3">
        {% trans "محتوى البحث" %} <br>
      </span>
      <span class="col-9">
        :
      </span>
    </p>
    {% if '.pdf' in research.media.url %}
    <object data="{{ research.media.url }}" type="application/pdf" title="{{research.title}}" width="100%" height="885">
      <!-- <embed src="{{ research.media.url  }}" > -->
    </object>
    {% else %}
    <a href="">
      <img src="{{ research.media.url }}" name="{{ research.title }}" title="{{ research.title }}"
        alt="{{ research.title }}" width="100%"></a>
    {% endif %}
    {% endif  %}



    <!-- SOCIAL -->

    <!-- <div class="social-share col-1 position-absolute d-flex flex-column align-items-center {% if LANGUAGE_CODE == 'ar'%}
      right {% else %} left {% endif %}">

      <a href="#" class="facebook-btn" target="_blank" title="{% trans 'مشاركة على فيسبوك' %}">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="#" class="twitter-btn" target="_blank" title="{% trans 'مشاركة على تويتر' %}">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#" class="linkedin-btn" target="_blank" title="{% trans 'مشاركة على لينكدين' %}">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="#" class="whatsapp-btn" target="_blank" title="{% trans 'مشاركة على واتس اب' %}">
        <i class="fab fa-whatsapp"></i>
      </a>
    </div> -->


  </div>


  <!-- THE LATEST RESEARCH  -->
  {% if researchs.count > 0 %}
  <div class="col-lg-3 d-none d-lg-block last3">
    <h2 class="text-center mb-4 {% if LANGUAGE_CODE == 'ar' %} br_right {% else %} br_left {% endif %}">
      {% trans 'أحدث ثلاثة أبحاث خارجية' %} </h2>
    {% for research in researchs|slice:3 %}
    <a href="{% url 'research_detail' research.id %}" class='bg-light nav-link border-bottom pb-3 mb-2'>
      <div class="news-card">
        <p class="text-dark"> {{ research.title }} </p>

        {% if research.media %}
        {% if not dev.get_extension == ".pdf" %}
        <figure>
          <img src="{{ research.media.url }}" class="w-100" name="{{ research.title }}" title="{{ research.title }}"
            alt="{{ research.title }}">
          <figcaption class="text-muted"><i class="far fa-clock ml-2 mr-2"></i>{{ research.created_at|timesince }}
          </figcaption>
        </figure>
        {% endif %}
        {% endif  %}
      </div>
    </a>
    {% endfor %}
  </div>
  {% endif %}




</div>

{% endblock %}