{% extends 'base.html' %}
{% load static i18n crispy_forms_tags%}
{% block title %} {% trans 'اﻷبحاث الخارجية قيد الدراسة' %} {% endblock %}

{% block content %}

<div class="pt-4 mt-4 mb-4">
    <h1 class="{% if LANGUAGE_CODE == 'ar' %} br_right {% else %} br_left {% endif %}">
        {% trans 'اﻷبحاث الخارجية قيد الدراسة' %}</h1>



    <div class="d-flex mt-4">

        {% if request.user.is_authenticated %}
        <a href="{% url 'add_research' %}"
            class="btn btn-block mt-4 {% if LANGUAGE_CODE == 'ar' %} ml-2 {% else %} mr-2 {% endif %}"
            title="{% trans 'إضافة بحث خارجي' %}"><i class="fas fa-plus"></i></a>
        {% endif %}

        {% if researchs and request.user.is_authenticated and request.user.is_superuser %}
        <a class="btn btn-block mt-4 mx-2" data-toggle="collapse" href="#collapseFiltre" aria-expanded="false"
            aria-controls="collapseFiltre" title="{% trans 'فرز' %}"><i class="fas fa-filter"></i></a>
        {% endif %}

    </div>


    <!-- FILTERS -->
    <div class="pt-3 px-4 pb-2 mt-4 collapse" id="collapseFiltre">

        <form action="" method="get"
            class="row register justify-content-center align-items-center flex-wrap form my-2 my-lg-0">
            <div class="col-sm-12 col-md-4  mt-3">
                {{ myFilter.form.name_entity|as_crispy_field }}
            </div>
            <div class="col-sm-12 col-md-4 mt-3">
                {{ myFilter.form.title|as_crispy_field }}
            </div>
            <div class="col-sm-12 col-md-4 mt-3">
                {{ myFilter.form.domaine|as_crispy_field }}
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-4 mt-3">
                    {{ myFilter.form.start_date_pub|as_crispy_field }}
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 mt-3">
                    {{ myFilter.form.end_date_pub|as_crispy_field }}
                </div>
            </div>

            <div class="form-group mt-3">
                <button class="btn btn-block mt-3">{% trans 'بحث' %}</button>
            </div>
        </form>
    </div>



    <div
        class="row row-m-0 {% if LANGUAGE_CODE == 'ar' %} row-gutter-0 {% else %} row-gutter-3 {% endif %} pt-4 pb-4 mb-4">
        {% if researchs %}
        {% for research in researchs %}

        <div class="span3 well">
            <span class="text-muted">
                <i class="far fa-clock ml-2 mr-2"></i>
                {{ research.created_at|timesince }}
            </span>
            <center>
                {% if '.pdf' in research.media.url %}

                {% else  %}
                <a href="{% url 'research_detail' research.id %}">
                    <img src="{{ research.media.url }}" name="{{ research.title }}" title="{{ research.title }}"
                        alt="{{ research.title }}" width="140" height="140" class="img-circle"></a>
                {% endif  %}
                <h3 class="mt-4">{{ research.name_entity }}</h3>
                <p>{{ research.title }}</p>

                <p>
                    <a href="{% url 'research_detail' research.id %}" class="btn btn-block">
                        {% trans 'لقراءة المزيد' %} </a>
                </p>

            </center>
        </div>

        {% endfor %}


        <div class="pagination row border-top mt-4 pt-4" dir="ltr">
            <center>
                {% if researchs.paginator.num_pages > 1 %}
                {% if researchs.has_previous %}

                <a href="?page=1" class="btn">
                    <i class="fa fa-angle-double-left"></i>
                </a>
                <a href="?page={{ researchs.previous_page_number }}" class="btn">
                    <i class="fa fa-angle-left"></i>
                </a>

                {% endif %}

                {% for num in researchs.paginator.page_range %}
                {% if researchs.number == num %}
                <a href="?page={{ num }}" class="btn btn-current">{{ num }}</a>
                {% elif num > researchs.number|add:'-3' and num < researchs.number|add:'3' %}
                <a href="?page={{ num }}" class="btn">{{ num }}</a>
                {% endif %}
                {% endfor %}


                {% if orgs.has_next %}
                <a href="?page={{ researchs.next_page_number }}" class="btn"><i class="fa fa-angle-right"></i></a>
                <a href="?page={{ researchs.paginator.num_pages }}" class="btn"><i
                        class="fa fa-angle-double-right"></i></a>

                {% endif %}
                {% endif %}

            </center>
        </div>


        {% else %}
        <h3 class="{% if LANGUAGE_CODE == 'ar' %} br_right {% else %} br_left {% endif %}">
            {% trans "لا يوجد حالياً أبحاث خارجية قيد الدراسة" %} </h3>
        {% endif %}


    </div>



</div>



{% endblock %}