Hi {{ name }},
{{ sender }} invited you to join civil gateway ,
a website where you can post and share your news ,to register please click the link below:
<a href="https://{{ domain }}{% url 'signe_up' %}" class="btn">Register</a>

-- civil gateway Team



مرحباً {{ name }},
{{ sender }} لقد دعاك للانضمام إلى البوابة المدنية ,
موقع الكتروني يمكنكم من نشر و مشاركة اﻷخبار , للانضمام رجاءً اضغط على الرابط التالي
<a href="https://{{ domain }}{% url 'signe_up' %}" class="btn">اشتراك</a>

-- فريق بوابة المجتمع المدني