{% extends 'base.html' %}
{% load static i18n crispy_forms_tags %}
{% block title %} {% trans 'قائمة دليل المجتمع المدني للموافقة على النشر' %} {% endblock %}


{% block content %}




{% if request.user.is_authenticated and request.user.is_staff %}



<div class="pt-4 mt-4">

    <h1 class="text-center mb-4" data-aos="fade-left"> {% trans 'قائمة دليل المجتمع المدني للموافقة على النشر' %} </h1>

    <h2 class="{% if LANGUAGE_CODE == 'ar' %} br_right {% else %} br_left {% endif %}" data-aos="fade-left">
        {% trans 'قائمة منظمات المجتمع المدني' %} </h2>

    <div class="d-flex mt-4">

        {% if request.user.is_authenticated %}
        {% if not request.user.orgprofile_set.all or request.user.is_staff %}
        <a href="{% url 'org_profile' %}"
            class="btn btn-block mt-4 {% if LANGUAGE_CODE == 'ar' %} ml-2 {% else %} mr-2 {% endif %}"
            title="{% trans 'تقديم طلب اشتراك' %}" data-aos="fade-right"><i class="fas fa-plus"></i></a>
        {% endif %}
        {% endif %}

        {% if orgs and request.user.is_superuser %}
        <a class="btn btn-block mt-4 mx-2" data-toggle="collapse" href="#collapseFiltre" aria-expanded="false"
            aria-controls="collapseFiltre" title="{% trans 'فرز' %}" data-aos="fade-right"><i
                class="fas fa-filter"></i></a>
        {% endif %}


    </div>


    {% if orgs %}
    <!-- SECTION 2 -->
    <div class="pt-3 px-4 pb-2 mt-4 collapse" id="collapseFiltre">
        <!-- FILTERS -->
        <form action="" method="get"
            class="row register justify-content-center align-items-center flex-wrap form my-2 my-lg-0">
            <div class="col-sm-12 col-md-4  mt-3">
                {{ myFilter.form.name|as_crispy_field }}
            </div>
            <div class="col-sm-12 col-md-4 mt-3">
                {{ myFilter.form.position_work|as_crispy_field }}
            </div>
            <div class="col-sm-12 col-md-4 mt-3">
                {{ myFilter.form.work_domain|as_crispy_field }}
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-4 mt-3">
                    {{ myFilter.form.start_date|as_crispy_field }}
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 mt-3">
                    {{ myFilter.form.end_date|as_crispy_field }}
                </div>
                <div class="col-sm-12 col-md-4 mt-3">
                    {{ myFilter.form.target_cat|as_crispy_field }}
                </div>

            </div>

            <div class="form-group mt-3">
                <button class="btn btn-block mt-3">{% trans 'بحث' %}</button>
            </div>
        </form>
    </div>



    <div class="row row-m-0 {% if LANGUAGE_CODE == 'ar' %} row-gutter-0 {% else %} row-gutter-3 {% endif %} pt-4 pb-4
        mb-4">
        <br>
        <br>
        {% for org in orgs %}

        <div class="span3 well" data-aos="fade-left">
            <span class="text-muted">
                <i class="far fa-clock ml-2 mr-2"></i>
                {{ org.created_at|timesince }}
            </span>
            <center class="mt-3">
                <a href="{% url 'particip_detail' org.id %}">
                    <img src="{{ org.logo.url }}" name="{{ org.name_en_ku }}" title="{{ org.name_en_ku }}" width="140"
                        height="140" class="img-circle"></a>
                <h3 class="mt-4">{{ org.name }}</h3>
                <p>{{ org.short_cut }}</p>
                <p>{{ org.message|truncatechars:80 }}</p>
                <p>
                    <a href="{% url 'particip_detail' org.id %}" class="btn btn-block"
                        title="{% trans 'للمزيد عن المنظمة' %}"><i class="fas fa-book-reader"></i>
                    </a>
                </p>

            </center>
        </div>
        {% endfor %}



        <div class="pagination row border-top mt-4 pt-4" dir="ltr">
            <center>
                {% if orgs.paginator.num_pages > 1 %}
                {% if orgs.has_previous %}

                <a href="?page=1" class="btn">
                    <i class="fa fa-angle-double-left"></i>
                </a>
                <a href="?page={{ orgs.previous_page_number }}" class="btn">
                    <i class="fa fa-angle-left"></i>
                </a>

                {% endif %}

                {% for num in orgs.paginator.page_range %}
                {% if orgs.number == num %}
                <a href="?page={{ num }}" class="btn btn-current">{{ num }}</a>
                {% elif num > orgs.number|add:'-3' and num < orgs.number|add:'3' %}
                <a href="?page={{ num }}" class="btn">{{ num }}</a>
                {% endif %}
                {% endfor %}

                <span> {% trans "إجمالي عدد المنظمات" %} ( {{ orgs.paginator.count }} ) </span>
                {% if orgs.has_next %}
                <a href="?page={{ orgs.next_page_number }}" class="btn"><i class="fa fa-angle-right"></i></a>
                <a href="?page={{ orgs.paginator.num_pages }}" class="btn"><i class="fa fa-angle-double-right"></i></a>

                {% endif %}
                {% endif %}

            </center>
        </div>




    </div>
    {% else %}
    <h3 class="{% if LANGUAGE_CODE == 'ar' %} br_right {% else %} br_left {% endif %}">
        {% trans 'حالياً لا يوجد طلبات للمنظمات للموافقة عليها' %} </h3>
    {% endif %}

    <!-- <p>{{ orgs.has_previous }}</p>
            <p>{{ orgs.number }}</p>
            <p>{{ orgs.paginator.count }}</p>
            <p>{{ orgs.paginator.num_pages }}</p>
            <p>{{ orgs.paginator.page_range }}</p>
            <p>{{ orgs.has_next }}</p> -->



</div>


{% endif %}

{% endblock %}