{% extends 'base.html' %}
{% load static i18n crispy_forms_tags %}

{% block title %} {% trans "حذف محافظة" %} {% endblock %}

{% block content %}


<div class="row mt-4 pt-4 mb-4">
    <h1> {% trans "حذف محافظة" %} </h1>

    <h2> {% trans "هل أنت متأكد من رغبتك في حذف المحافظة " %} : {{ city }} </h2>

    <form action="" method="post" class="register" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            <input type="submit" class="btn btn-block mt-3" value='{% trans "حذف المحافظة" %}'>
        </div>
        <button type="button" class="btn btn-block nav-link active nav-link-icon d-flex justify-content-center" onclick="history.back();"
        title="{% trans 'عودة إلى الصفحة السابقة' %}">
        {% trans 'عودة إلى الصفحة السابقة' %}
    </button>
    </form>


</div>

{% endblock %}