{% extends 'base.html' %}
{% load static %}
{% block title %} {% trans "اتصل بنا" %} {% endblock %}

{% block content %}
<h1>{% trans "اتصل بنا" %}</h1>

<ul class="list-unstyled pr-0">
    <li>
        <p>
            <i class="fa fa-home" aria-hidden="true"></i> New York, NY 10012, US</p>
    </li>
    <li>
        <p>
            <i class="fa fa-envelope" aria-hidden="true"></i> info@example.com</p>
    </li>
    <li>
        <p>
            <i class="fa fa-phone" aria-hidden="true"></i> + 01 234 567 88</p>
    </li>
    <li>
        <p>
            <i class="fa fa-print" aria-hidden="true"></i> + 01 234 567 89</p>
    </li>
</ul>


{% endblock %}